.products{
    .clickable {
        cursor: pointer;
    }
    &__active{
        &__card {
            &__header {
                color: #51cbce;
                hr {
                    width: 50px;
                    border-color: #51cbce !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                a{
                    cursor: pointer;
                    color: #51cbce !important;
                    &:hover {
                        color: #51cbce !important;
                    }    
                    &:active {
                        color: #51cbce !important;
                    }    
                }
            }

            .title {
                min-width: 350px !important;
            }
            .price {
                min-width: 120px !important;
            }
            .actions {
                min-width: 150px !important;
            }
        }
    }
    &__inactive{
        &__card {
            &__header {
                hr {
                    width: 50px;
                    border-color: #eb6532 !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                color: #eb6532 ;
                a{
                    cursor: pointer;
                    &:hover {
                        color: #eb6532  !important;
                    }    
                    &:active {
                        color: #eb6532  !important;
                    }    
                }
            }
            .id {
                min-width: 40px !important;
            }        
            .description {
                min-width: 180px !important;
            }
            .coefficient {
                min-width: 120px !important;
            }
            .actions {
                min-width: 150px !important;
            }
            &__broh{
                color: #51cbce !important;
                font-size: 18px;
            }
        }
    }
}

textarea:focus, input:focus{
    outline: none !important;
}