.ideas {
    &__toApprove{
        &__card {
            &__header {
                color: #51cbce;
                hr {
                    width: 50px;
                    border-color: #51cbce !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                a{
                    cursor: pointer;
                    color: #51cbce !important;
                    &:hover {
                        color: #51cbce !important;
                    }    
                    &:active {
                        color: #51cbce !important;
                    }    
                }
            }
        }
    }

    &__approved{
        &__card {
            &__header {
                color: rgb(107, 208, 152);
                hr {
                    width: 50px;
                    border-color: rgb(107, 208, 152) !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                a{
                    cursor: pointer;
                    color: rgb(107, 208, 152) !important;
                    &:hover {
                        color: rgb(107, 208, 152) !important;
                    }    
                    &:active {
                        color: rgb(107, 208, 152) !important;
                    }    
                }
            }
        }
    }

    &__disapproved{
        &__card {
            &__header {
                color: #eb6532;
                hr {
                    width: 50px;
                    border-color: #eb6532 !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                a{
                    cursor: pointer;
                    color: #eb6532 !important;
                    &:hover {
                        color: #eb6532 !important;
                    }    
                    &:active {
                        color: #eb6532 !important;
                    }    
                }
            }
        }
    }

    &__feed{
        &__card {
            &__header {
                color: #51cbce;
                hr {
                    width: 50px;
                    border-color: #51cbce !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                a{
                    cursor: pointer;
                    color: #51cbce !important;
                    &:hover {
                        color: #51cbce !important;
                    }    
                    &:active {
                        color: #51cbce !important;
                    }    
                }
            }
        }
    }

    &__detail{
        &__card {
            &__header {
                color: #51cbce;
                hr {
                    width: 50px;
                    border-color: #51cbce !important;
                    float: left;
                    margin-top: -1rem;
                    border: solid;
                }
                a {
                    color: #51cbce !important;
                    &:hover {
                        color: #51cbce !important;
                    }    
                    &:active {
                        color: #51cbce !important;
                    }    
                }
            }
        }

        &__figure {
            box-shadow: inset 0px -170px 40px 0px #000;
            &__img{
              width: 100%;
              opacity: 0.8;
            }
    
            &__caption {
              position: absolute;
              bottom: 0px;
              color: #FFF;
              width: 100%;

              &__text{
                font-size: 10px;
                top: -250px;
                left: 25px;
                position: absolute;
                text-transform: uppercase;
              }
    
              &__stage{
                &__points{
                  position: absolute;
                  font-size: 20px;
                  font-weight: bolder;
                  color:#40475D;
                  right: 93px;
                  top:-227px;
                }
                &__img{
                    position: absolute;
                    width: auto;
                    top: -400px;
                    right: 0px;
                }
              }
            }
        }
        
        &__content {
            position: relative;
            margin-top:-25px;   
            padding: 20px!important;
    
            &__img{
              border-radius: 20px;
              max-width: 70px;
              max-height: 70px;
              position: absolute;
              top: -15px;
            }
    
            &__title{
              font-size: 14px;
              color: #40475D;
              margin-left: 100px;
              font-weight: 700;
              margin-top: -10px;
            }
    
            &__email{
              font-size: 11px;
              margin-left: 100px;
              color: #818285;
              margin-top: -25px;
            }
    
            &__text{
              color: #818285;
              font-size: 14px;
            }

            &__comment{
                &__content{
                    background-color: #FFFFFF;
                    border-bottom-left-radius:  20px;
                    border-bottom-right-radius: 20px;
                    a {
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }
            }
        }

        .demo-icons {
            ul {
                position: absolute;
                right: 0;
                bottom: -35px;
                li {
                    margin: 0 10px;
                    color:#51cbce;
                    padding-top: 50px;
                    p {
                        color:#51cbce;
                        font-size: 14px;
                        font-weight: bolder;
                        padding: 0;
                    }
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
        }

        .message{
            padding: 10px 6px;
          
            .col-xs-12{
              padding-right: 0px;
            }
          
            &__loadmore{
              float: right;
              cursor: pointer;
            }
          
            p {
              margin: 0 0 10px;
              background-color: rgba(0, 64, 121, .1);
              color: #828F9D;
              border-radius: 2px;
              padding: 8px 4px;
              font-weight: 500;
              text-align: left;
          
              strong{
                color: #40475D;
                font-weight: bold;
                display: block;
              }
            }
          
            span{
              color: #828F9D;
              display: inline-block;
              width: 100%;
              text-align: left;
              font-size: 11px;
          
              a{
                float: right;
                color: #0088FF;
                font-weight: bold;
              }
            }
          
            &__warning{
              background-color: transparent!important;
              font-size: 11px;
            }
          
            &__totaly{
              float: left;
              margin-top: 6px;
              margin-bottom: 20px;
              width: 100%;
              text-align: left;
          
              a{
                font-size: 14px;
                font-weight: bold;
                text-align: right;
                color: #0088FF;
                font-family: 'Montserrat', sans-serif;
                padding-bottom: 6px;
                display: inline-block;
                width: 100%;
          
                i{
                  color: #40475D;
                  margin-left: 10px
                }
              }
          
              hr{
                padding: 0px;
                margin: 10px;
              }
          
              .col-xs-4{
                background-color: rgba(0,0,0,.1);
                border: 1px solid #D8D9DE;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 78px;
              }
          
              .col-xs-8{
                background-color: rgba(0,0,0,.1);
                border: 1px solid #D8D9DE;
                height: 78px;
              }
          
              h2{
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 900;
                color: #40475D;
                letter-spacing: -1.5px;
                margin: 0px;
                padding: 0px;
              }
          
              h3{
                margin-bottom: 0px;
                padding-bottom: 0px;
                letter-spacing: -1.5px;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                color: #40475D;
              }
          
              h5{
                font-family: 'Open Sans', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
                color: #828F9D;
                padding-top: 0px;
                margin-top: 3px;
                font-weight: 600;
              }
            }
          }
    }

    .tag{
        font-weight: 500;
        background-color: #edeae3;
        padding: 3px 7px;
        border-radius: 2px;
        cursor: pointer;
    }

    .idea-box {
        min-width: 320px; 
    }
    .clickable {
        cursor: pointer;
    }
}

.author-title {
    font-size: 16px;
    float: left;
    font-weight: bold;
    margin-bottom: 15px
}

.author-email {
    font-size: 11px;
    color: #818285;
}